<h2 align="center">Please upload your image</h2>
<br>
<div>
    <form id="upload-file" method="post" enctype="multipart/form-data" align="center" action="/predict">
        <label for="imageUpload" class="upload-label">
            Choose...
        </label>
        <input type="file" name="file" id="imageUpload" accept=".png, .jpg, .jpeg">
    </form>

    <div class="image-section" style="display:none;" align="center">
        <div class="img-preview" align="center">
            <div id="imagePreview">
            </div>
        </div>
        <div align="center">
            <button type="button" class="btn btn-primary btn-lg" id="btn-predict">Predict!</button>
        </div>
    </div>
</div>